:root {
    --bd-navy: #0064D7; // Navy color
    --bd-blue: #00abff; // Blue color
    --bd-yellow: #fac832; // Yellow color
    --bd-navy-rgb: 0,100,215; // RGB values for navy color
    --bd-blue-rgb: 0,170,255; // RGB values for blue color
    --bd-yellow-rgb: 255,200,50; // RGB values for yellow color
}

.home {
    .bd-masthead {
        padding: 2rem 0; // Add padding to the masthead section
        background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.05), rgba(var(--bs-body-bg-rgb), 1) 75%),
            radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 25%),
            radial-gradient(ellipse at top right, rgba(var(--bd-yellow-rgb), 0.5), transparent 100%),
            radial-gradient(ellipse at center right, rgba(var(--bd-blue-rgb), 0.5), transparent 25%),
            radial-gradient(ellipse at center left, rgba(var(--bd-navy-rgb), 0.5), transparent 25%);
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600; // Set the font weight of the button to 600 (bold)
        --bs-btn-color: var(--bs-white); // Set the text color of the button to the value of the CSS variable --bs-white
        --bs-btn-bg: var(--bd-blue); // Set the background color of the button to the value of the CSS variable --bd-blue
        --bs-btn-border-color: var(--bd-blue); // Set the border color of the button to the value of the CSS variable --bd-blue
        --bs-btn-border-radius: .5rem; // Set the border radius of the button to 0.5rem (rounded corners)
        --bs-btn-hover-color: var(--bs-white); // Set the text color of the button on hover to the value of the CSS variable --bs-white
        --bs-btn-hover-bg: #1c6dc9; // Set the background color of the button on hover to a specific color (#6528e0)
        --bs-btn-hover-border-color: #1c6dc9; // Set the border color of the button on hover to a specific color (#6528e0)
        --bs-btn-focus-shadow-rgb: var(--bd-blue-rgb); // Set the shadow color of the button when focused to the value of the CSS variable --bd-blue-rgb
        --bs-btn-active-color: var(--bs-btn-hover-color); // Set the text color of the button when active to the value of the text color on hover
        --bs-btn-active-bg: #5a23c8; // Set the background color of the button when active to a specific color (#5a23c8)
        --bs-btn-active-border-color: #5a23c8; // Set the border color of the button when active to a specific color (#5a23c8)
    }
}

.navbar {
    @extend .navbar-dark; /* Extend styles from .navbar-dark class */
    padding: .75rem 0; /* Add padding to the navbar */
    background-color: var(--bd-blue); /* Set initial background color to blue */
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.25);
}

.text-violet {
    color: #6528e0; // Set text color to violet
}

.list {
    .card {
        transition: transform 0.2s ease-in-out; // Add transition effect

        &:hover {
            transform: scale(1.05); // Scale card on hover
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out; // Add transition effect

    &:hover {
        transform: scale(1.1); // Rotate and scale on hover
    }
}