<!-- Features in Development section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-3">
        <h2 class="h2">Color Your Groups <small class="d-none">✨</small></h2>
        <p>Choose a color for your group of tabs for better visual organization.</p>
    </div>
    <div class="col-lg-3">
        <h2 class="h2">Time Your Work <small class="d-none">🦉</small></h2>
        <p>Set timers for your tab groups to automatically close them after a specified period to stay focused.</p>
    </div>
    <div class="col-lg-3">
        <h2 class="h2">Remind Yourself <small class="d-none">✨</small></h2>
        <p>Set reminders for specific tabs groups to ensure you do not miss deadlines.</p>
    </div>
    <div class="col-lg-3">
        <h2 class="h2">Data For You <small class="d-none">✨</small></h2>
        <p>Access data about your tab usage to understand and improve your online behavior for different tab groups.</p>
    </div>
</div>